:root {
    --heading-font:"Big Shoulders Display",
        sans-serif;
    --default-font:"Poppins",
        sans-serif;
    --primary-color: #9EC6EA;
    --secondary-color: #FFE677;
}

body {
    margin: 0;
}

.container {
    margin: 0 auto;
    background-color: white;
}

.max-width{
    max-width: 1100px;
}

.img-responsive {
    max-width: 100%;
}

.grid-3-columns {
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid {
    display: grid;
    grid-gap: 60px;
}

.border-top-bottom {
    border-top: #1D1B1B 1px solid;
    border-bottom: #1D1B1B 1px solid;
    margin-top: 30px;
}

#notice-photo{
    font-size: 12px;
    font-style: italic;
    color: grey;
}
.container-nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 5% 3% 5%;
}

.container-heading {
    margin-top: 120px;
}

.logo {
    max-width: 80px;
}

.block-center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.block-center img {
    transition: all 200ms ease-in-out;
}
.block-center img:hover {
    scale: 1.1;
    transition: all 200ms ease-in-out;
}

.block-center-favorite {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.yellow {
    background-color: var(--secondary-color);
}

.yellow div {
    max-width: 300px;
}

.card{
    display: block;
    margin: 0 auto;
    border:#1D1B1B 1px solid;
    margin-top: 50px;
    margin-bottom: 50px;
    max-width: 300px;
}

.card-header {
    padding: 10px 30px;
}

.card-image {
    background-color: var(--primary-color);
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    width: 100%;
    border: 5px solid var(--secondary-color);
    box-sizing: border-box;
}



header {
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(rgba(132, 192, 245, 0.9),
            rgba(199, 226, 248, 0.8)),
        url('/img/mucem2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0px 0px 50px 50px;
    text-align: center;
    box-shadow: 0px 15px 31px rgba(53, 53, 53, 0.2);
}

h1 {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 145px;
    color: rgb(250, 255, 255);
    margin: 20px 0px;
}

h2{
    font-family: var(--heading-font);
    font-size: 70px;
    margin: 0;
}

h3 {
    font-family: var(--heading-font);
    font-size: 28px;
    margin: 30px 10px 10px 0px;

}

h4 {
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 300;
}

h5 {
    display: inline-block;
    padding: 7px 15px;
    font-family: var(--heading-font);
    border: #1D1B1B 1px solid;
    text-align: center;
}

p {
    font-family: var(--default-font);
    font-weight: 300;
    font-size: 15px;
}

button {
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 24px;
    font-weight: 300;
    padding:0px 5px ;
    border: none;
    margin-bottom: 20px;
}

nav div {
    display: inline;
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
}

nav div:hover {
    text-decoration: underline 4px #FFE677;
    cursor: pointer;
}

nav {
    margin-top: 35px;
}

section {
    max-width: 100%;
    margin: 0 auto;
    padding: 130px ;
}

img {
    object-fit: cover;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(9, 6vw);
    grid-gap: 15px;
    margin-top: 70px;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 4;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--3 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--4 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--6 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 4;
    grid-row-end: 7;
}
.gallery__item--7 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 10;
}
.gallery__item--8 {
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 10;
}
.gallery__item--9 {
    grid-column-start: 6;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 10;
}

/* Footer */
.container-footer {
    font-family: var(--heading-font);
    border-top: 2px solid #1D1B1B;
    margin: 20px 50px 0px 50px;
}

.heading-footer {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 50px 0px;
    font-weight: 500;
}

.heading-footer div {
    font-size: 23px;
}


.footer-informations{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10%;
    margin-right: 50%;
    margin-left: 2%;
}

.social-media {
    display: flex;
    justify-content: space-between;
}

.social-media-icons a {
    padding-left: 10px;
}

.address {
    display: flex;
    justify-content: space-between;
}

.info {
    font-weight: 200;
}

.phone {
    display: flex;
    justify-content: space-between;
}

.border-top {
    border-top: #1D1B1B 1px solid;
}

.border-top div{
    margin-top: 10px;
}

.poppins {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}

footer {
    padding-top: 100px;
    padding-bottom: 60px;
}